#!/usr/bin/make -f

#export DH_VERBOSE=1

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DIR=daemontools-0.76

override_dh_auto_configure:
	# backup files
	[ -f '$(DIR)/src/svscanboot.sh.orig' ] || cp '$(DIR)/src/svscanboot.sh' '$(DIR)/src/svscanboot.sh.orig'
	[ -f '$(DIR)/src/conf-cc.orig' ] || cp '$(DIR)/src/conf-cc' '$(DIR)/src/conf-cc.orig'
	[ -f '$(DIR)/src/conf-ld.orig' ] || cp '$(DIR)/src/conf-ld' '$(DIR)/src/conf-ld.orig'
	# remove hardcoded /command
	sed -e 's}/command/svc}svc};s}/service}/etc/service}g' -i '$(DIR)/src/svscanboot.sh'
	# configure debian CFLAGS + CPPFLAGS
	echo '$(CC) $(CFLAGS) $(CPPFLAGS)' > '$(DIR)/src/conf-cc'
	# LDFLAGS
	echo '$(CC) $(LDFLAGS)' > '$(DIR)/src/conf-ld'

override_dh_auto_build:
	# build
	cd '$(DIR)' && package/compile

override_dh_auto_clean:
	dh_auto_clean
	mv -f '$(DIR)/src/svscanboot.sh.orig' '$(DIR)/src/svscanboot.sh' || :
	mv -f '$(DIR)/src/conf-cc.orig' '$(DIR)/src/conf-cc' || :
	mv -f '$(DIR)/src/conf-ld.orig' '$(DIR)/src/conf-ld' || :
	rm -rf '$(DIR)/compile'

%:
	dh $@
